@font-face {
  font-family: 'Poppins-8';
  src: url('/fonts/Poppins/Poppins-ExtraBold.eot');
  src:
    url('/fonts/Poppins/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-ExtraBold.woff') format('woff'),
    url('/fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
}

@font-face {
  font-family: 'Poppins-9i';
  src: url('/fonts/Poppins/Poppins-BlackItalic.eot');
  src:
    url('/fonts/Poppins/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-BlackItalic.woff') format('woff'),
    url('/fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
}

@font-face {
  font-family: 'Poppins-7';
  src: url('/fonts/Poppins/Poppins-Bold.eot');
  src:
    url('/fonts/Poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-Bold.woff') format('woff'),
    url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-Bold.svg#Poppins-Bold') format('svg');
}

@font-face {
  font-family: 'Poppins-8i';
  src: url('/fonts/Poppins/Poppins-ExtraBoldItalic.eot');
  src:
    url('/fonts/Poppins/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-ExtraBoldItalic.woff') format('woff'),
    url('/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
}

@font-face {
  font-family: 'Poppins-7i';
  src: url('/fonts/Poppins/Poppins-BoldItalic.eot');
  src:
    url('/fonts/Poppins/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-BoldItalic.woff') format('woff'),
    url('/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
}

@font-face {
  font-family: 'Poppins-9';
  src: url('/fonts/Poppins/Poppins-Black.eot');
  src:
    url('/fonts/Poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-Black.woff') format('woff'),
    url('/fonts/Poppins/Poppins-Black.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-Black.svg#Poppins-Black') format('svg');
}

@font-face {
  font-family: 'Poppins-3i';
  src: url('/fonts/Poppins/Poppins-LightItalic.eot');
  src:
    url('/fonts/Poppins/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-LightItalic.woff') format('woff'),
    url('/fonts/Poppins/Poppins-LightItalic.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
}

@font-face {
  font-family: 'Poppins-2';
  src: url('/fonts/Poppins/Poppins-ExtraLight.eot');
  src:
    url('/fonts/Poppins/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-ExtraLight.woff') format('woff'),
    url('/fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
}

@font-face {
  font-family: 'Poppins-4i';
  src: url('/fonts/Poppins/Poppins-Italic.eot');
  src:
    url('/fonts/Poppins/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-Italic.woff') format('woff'),
    url('/fonts/Poppins/Poppins-Italic.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-Italic.svg#Poppins-Italic') format('svg');
}

@font-face {
  font-family: 'Poppins-5';
  src: url('/fonts/Poppins/Poppins-Medium.eot');
  src:
    url('/fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-Medium.woff') format('woff'),
    url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-Medium.svg#Poppins-Medium') format('svg');
}

@font-face {
  font-family: 'Poppins-2i';
  src: url('/fonts/Poppins/Poppins-ExtraLightItalic.eot');
  src:
    url('/fonts/Poppins/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-ExtraLightItalic.woff') format('woff'),
    url('/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
}

@font-face {
  font-family: 'Poppins-3';
  src: url('/fonts/Poppins/Poppins-Light.eot');
  src:
    url('/fonts/Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-Light.woff') format('woff'),
    url('/fonts/Poppins/Poppins-Light.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-Light.svg#Poppins-Light') format('svg');
}

@font-face {
  font-family: 'Poppins-1i';
  src: url('/fonts/Poppins/Poppins-ThinItalic.eot');
  src:
    url('/fonts/Poppins/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-ThinItalic.woff') format('woff'),
    url('/fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
}

@font-face {
  font-family: 'Poppins-4';
  src: url('/fonts/Poppins/Poppins-Regular.eot');
  src:
    url('/fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-Regular.woff') format('woff'),
    url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-Regular.svg#Poppins-Regular') format('svg');
}

@font-face {
  font-family: 'Poppins-1';
  src: url('/fonts/Poppins/Poppins-Thin.eot');
  src:
    url('/fonts/Poppins/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-Thin.woff') format('woff'),
    url('/fonts/Poppins/Poppins-Thin.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-Thin.svg#Poppins-Thin') format('svg');
}

@font-face {
  font-family: 'Poppins-6';
  src: url('/fonts/Poppins/Poppins-SemiBold.eot');
  src:
    url('/fonts/Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
    url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
}

@font-face {
  font-family: 'Poppins-5i';
  src: url('/fonts/Poppins/Poppins-MediumItalic.eot');
  src:
    url('/fonts/Poppins/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-MediumItalic.woff') format('woff'),
    url('/fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-MediumItalic.svg#Poppins-MediumItalic') format('svg');
}

@font-face {
  font-family: 'Poppins-6i';
  src: url('/fonts/Poppins/Poppins-SemiBoldItalic.eot');
  src:
    url('/fonts/Poppins/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff'),
    url('/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype'),
    url('/fonts/Poppins/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
}

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0;
}

.carousel-root {
  width: 100%;
  //position: absolute;
  // height: 100%;
  display: flex;
  // max-height: 100%;
  //max-width: 50rem;
  .carousel.carousel-slider {
    // width: 100%;
    flex: 1;
    //height: 100%;

    .slider-wrapper {
      height: 100%;
      .slider.animated {
        height: 100%;
        .slide {
          // height: 100%;
        }
      }
    }
  }
}
